<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- windows -> preferences -> XML(Wild Web Developer) -> Download external... check 후 저장 -->
  
<mapper namespace="com.root.app.board.notice.NoticeDAO">

	<select id="getList" resultType="NoticeVO" parameterType="Pager">
		SELECT * FROM NOTICE_TBL
		<include refid="search"></include>
		ORDER BY BOARD_NUM DESC
		LIMIT #{startNum}, #{perPage}
	</select>
	
	<select id="getDetail" resultType="BoardVO" parameterType="BoardVO">
		SELECT * FROM NOTICE_TBL
		WHERE BOARD_NUM = #{boardNum}
	</select>
	
	<insert id="add" parameterType="BoardVO">
		INSERT INTO NOTICE_TBL
		VALUES (0, #{boardTitle}, #{boardContents}, now(), 0, #{userName})
	</insert>
	
	<insert id="addAll" parameterType="java.util.List">
		INSERT INTO NOTICE_TBL (BOARD_TITLE, BOARD_CONTENTS, BOARD_DATE, BOARD_HIT, USER_NAME)
		VALUES
			<foreach collection="list" item="vo" open="" separator=", " close="">
				(#{vo.boardTitle}, #{vo.boardContents}, now(), 0, #{vo.userName})
			</foreach>
	</insert>
	
	<select id="getTotalCount" parameterType="Pager">
		SELECT COUNT(BOARD_NUM) FROM NOTICE_TBL
		<include refid="search"></include>
	</select>
	
	<sql id="search">
		WHERE BOARD_NUM > 0 AND
			<choose>
				<when test="kind=='k1'">BOARD_TITLE LIKE CONCAT('%', #{search}, '%')</when>
				<when test="kind=='k2'">BOARD_TITLE LIKE CONCAT('%', #{search}, '%') OR BOARD_CONTENTS LIKE CONCAT('%', #{search}, '%')</when>
				<when test="kind=='k3'">USER_NAME LIKE CONCAT('%', #{search}, '%')</when>
				<otherwise>BOARD_TITLE LIKE '%'</otherwise>
			</choose>
	</sql>
	
	
	<update id="update" parameterType="BoardVO">
		UPDATE NOTICE_TBL
		SET BOARD_TITLE = #{boardTitle}, BOARD_CONTENTS = #{boardContents}
		WHERE BOARD_NUM = #{boardNum}
	</update>
</mapper>