<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- windows -> preferences -> XML(Wild Web Developer) -> Download external... check 후 저장 -->
  
<mapper namespace="com.root.app.board.notice.NoticeDAO">

	<select id="getList" resultType="NoticeVO" parameterType="Pager">
		SELECT * FROM NOTICE_TBL
		ORDER BY BOARD_NUM DESC
		LIMIT #{startNum}, #{perPage}
	</select>
	
	<select id="getDetail" resultType="BoardVO" parameterType="BoardVO">
		SELECT * FROM NOTICE_TBL
		WHERE BOARD_NUM = #{boardNum}
	</select>
	
	<insert id="add" parameterType="BoardVO">
		INSERT INTO NOTICE_TBL
		VALUES (0, #{boardTitle}, #{boardContents}, now(), 0, #{userName})
	</insert>
	
	<insert id="addAll" parameterType="java.util.List">
		INSERT INTO NOTICE_TBL (BOARD_TITLE, BOARD_CONTENTS, BOARD_DATE, BOARD_HIT, USER_NAME)
		VALUES
			<foreach collection="list" item="vo" open="" separator=", " close="">
				(#{vo.boardTitle}, #{vo.boardContents}, now(), 0, #{vo.userName})
			</foreach>
	</insert>
	
</mapper>